*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #08A171;
}

nav {
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #278036;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    color: black;
}

#logo {
    margin-top: 60px;
    display: flex;
    width: 305px;
    display: flex;
}

#menu1,
#menu2 {
    position: relative;
    left: 1005px;
    bottom: 150px;
    font-size: 25px;
}

#menu2 {
   font-size: 20px;
}

li {
    display: inline;
    color: white;
    margin-right: 15px;
}

a {
    color: black;
}

.proposito, .apresentacao, section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 60vh;
    
}

.apresentacao {
    color: rgba(255, 255, 255, 0.986);
    text-align: center;
    background-image: url(../IMGS/image.png);
    background-size: cover;
    padding-top: 480px;
    padding-bottom: 20px;
}

#video-container {
    border: solid 3px rgba(245, 238, 241, 0.87);
    background-color: transparent;
    width: 1500px;
    height: 350px;
}

#play-button {
    color: rgba(232, 235, 238, 0.87);
    font-size: 200px;
}

#proposito-title{
    position: relative;
    bottom: 95px;
    font-size: 45px;
    color: black;
}
#sobre-title{
    bottom: 95px;
    position: relative;
    font-size: 55px;
    color: black;
}

#historia-title{
    font-size: 55px;
    color: black;
}
#historia-div{
    text-align: center;
    width: 100%;
    background-color: aqua;
}
footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(130, 212, 164);
    z-index: 1000;
}

#foterescrita {
    color: rgb(220, 227, 233);
    font-size: 35px;
}