*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #08A171;
}

nav {
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    color: rgb(223, 220, 220);
}

#logo{
    width: 200px;
    display: flex;
    list-style: none;
}   

#menu1{
    display:inline-flex;
    position: absolute;
    right: 5%;
    top: 25%;
    font-size: 25px;
}

#menu2 {
    display: inline;
    position: absolute;
    right: 7%;
    top: 55%;
}



li {
    display: inline;
    color: rgb(240, 237, 237);
    margin-right: 15px;
    
    
}

ul > li > a {
    color: rgb(255, 252, 252);
    text-decoration: none;
    border: solid 1px;
    border-radius: 90px;
    background-color: black;
    padding: 5px;
    transition: background-color 0.9s ease;
}



a:hover{
    background-color: #cebebe86;
    cursor: pointer;
}

.proposito, .apresentacao, section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 60vh;
    
}

.apresentacao {
    color: rgba(255, 255, 255, 0.986);
    text-align: center;
    background-image: url(Captura\ de\ tela\ copia.png);
    background-size: cover;
    height: 20%;
    padding-top: 480px;
    padding-bottom: 20px;
}

#video-container {
    border: solid 3px rgba(245, 238, 241, 0.87);
    background-color: transparent;
    width: 1500px;
    height: 350px;
}

#play-button {
    color: rgba(232, 235, 238, 0.87);
    font-size: 200px;
}

#proposito-title{
    position: relative;
    bottom: 95px;
    font-size: 45px;
    color: black;
}
#sobre-title{
    bottom: 95px;
    position: relative;
    font-size: 55px;
    color: black;
}

#historia-title{
    font-size: 55px;
    color: black;
}
#historia-div{
    text-align: center;
    width: 100%;
}
footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(130, 212, 164);
    z-index: 1000;
}

#foterescrita {
    color: aliceblue;
    font-size:35px;
}